        <div ng-if="info_type == 'pc'">
          <div class="col-xs-2">
            <img class="session_avatar" ng-src={{info_object.avatar}}>  
          </div>
          
          <div class="col-xs-3">
            <table class="table">
              <tr>
                <td class="text-right">PC Name:</td>
                <td colspan="3">{{info_object.name}}</td>
              </tr>
              <tr>
                <td class="text-right">Race:</td>
                <td>{{info_object.race_name}}</td>
              </tr>
              <tr>
                <td class="text-right">Wounds:</td>
                <td>{{info_object.wounds_current}}</td>
                <td class="text-right">Max:</td>
                <td>{{info_object.wounds_thresh}}</td>
              </tr>
              <tr>
                <td class="text-right">Strain:</td>
                <td>{{info_object.strain_current}}</td>
                <td class="text-right">Max:</td>
                <td>{{info_object.strain_thresh}}</td>
              </tr>
            </table>
          </div>
          <section class="col-xs-1">
            <div class="row">
              <img class="gm-button" ng-src="/images/gm/wounds1.png" ng-click="modify_wounds(info_object.id, 1)">
              <img class="gm-button" ng-src="/images/gm/wounds2.png" ng-click="modify_wounds(info_object.id, 2)">
              <img class="gm-button" ng-src="/images/gm/wounds3.png" ng-click="modify_wounds(info_object.id, 3)">
              <img class="gm-button" ng-src="/images/gm/wounds-1.png" ng-click="modify_wounds(info_object.id, -1)">
              <img class="gm-button" ng-src="/images/gm/wounds-2.png" ng-click="modify_wounds(info_object.id, -2)">
              <img class="gm-button" ng-src="/images/gm/wounds-3.png" ng-click="modify_wounds(info_object.id, -3)">
            </div>
          </section>
          <section class="col-xs-1">
            <div class="row">
              <img class="gm-button" ng-src="/images/gm/strain1.png" ng-click="modify_strain(info_object.id, 1)">
              <img class="gm-button" ng-src="/images/gm/strain2.png" ng-click="modify_strain(info_object.id, 2)">
              <img class="gm-button" ng-src="/images/gm/strain3.png" ng-click="modify_strain(info_object.id, 3)">
              <img class="gm-button" ng-src="/images/gm/strain-1.png" ng-click="modify_strain(info_object.id, -1)">
              <img class="gm-button" ng-src="/images/gm/strain-2.png" ng-click="modify_strain(info_object.id, -2)">
              <img class="gm-button" ng-src="/images/gm/strain-3.png" ng-click="modify_strain(info_object.id, -3)">
            </div>
          </section>
        </div>