<div id="gm_game_overview" ng-show="gm_game_stage == 'gm_game_overview'">
  <div class="row">
    <div class="col-xs-12">
      <div class="row border-bottom">
	      <div class="col-xs-1" ng-repeat="pc in session_pcs">
	        <a href ng-click="show_selected_info('pc', pc)">
	        <p class="text-center">{{pc.name}}</p>
		      <img class="session_avatar" ng-src={{pc.avatar}}>
		      </a>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          Locale Information
        </div>
        <div class="col-md-4">
          <ul>
            <li ng-repeat="msg in messages | limitTo:5">
              {{msg}}
            </li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        Selected Information
        <overview-pc></overview-pc>
      </div>
    </div>
  </div>
</div>
