<div id="gm_game_players" ng-show="gm_stage == 'gm_campaign_players'">
    <div class="row">
        <div class="col-xs-2">
        	<button class="btn btn-primary btn-block" ng-if="manage_game_pcs == 'false'" ng-click="manage_pcs('true')">Add PCs</button>
        	<button class="btn btn-primary btn-block" ng-if="manage_game_pcs == 'true'" ng-click="manage_pcs('false')">Done</button>
        	<table id="manage_pcs" ng-show="manage_game_pcs =='true'" class="manage_pcs table">
        		 <tr ng-repeat="pc in all_pcs" class="all_pcs">
        			<td>{{pc.name}}</td>
        			<td>{{pc.career_name}}</td>
        			<td><button ng-click="add_pc_to_session($index)" class="btn btn-increase">+</button></td>
        		</tr>
        	</table>
        </div>
    </div>
</div>