<div id="gm-game" ng-show="gm_stage == 'gm_game'">
  <div class="row">
  <nav class="navbar navbar-default">
    <div class="container">
      <a href ng-click="set_game_stage('gm_game_sessions')" class="navbar-text navbar-link">Sessions</a>
      <a href ng-click="set_game_stage('gm_game_overview')" class="navbar-text navbar-link">Overview</a>
      <a href class="navbar-text navbar-link">Player</a>
      <a href class="navbar-text navbar-link">NPC</a>
    </div>
  </nav>
  </div>
  
  <gm-game-sessions></gm-game-sessions>
  
  <gm-game-overview></gm-game-overview>
</div>