<div id="gm-game" ng-show="gm_stage == 'gm_game'">
  <nav class="navbar navbar-default">
    <div class="container">
      <a href class="navbar-text navbar-link">Overview</a>
      <a href class="navbar-text navbar-link">Player</a>
      <a href class="navbar-text navbar-link">NPC</a>
    </div>
  </nav>
  
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        Top Section
      </div>
      <div class="row">
        Bottom SectIon
      </div>
    </div>
    
    <div class="col-md-3">
      Right section
    </div>
</div>