<div id="gm_signed_in" ng-show="gm_signed_in">
	<div class="row">
		<nav class="navbar navbar-default margin-zero">
			<div class="container">
				<a href ng-click="gm_set_stage('gm_game')" class="navbar-text navbar-link">Game</a>
                <a href ng-click="gm_set_stage('gm_pcs')" class="navbar-text navbar-link">Player Characters</a>
				<a href ng-click="gm_set_stage('gm_npcs')" class="navbar-text navbar-link">NPCs</a>
			</div>
		</nav>
   </div>
    <gm-pcs></gm-pcs>

    <gm-game></gm-game>
</div>