body#welcome
{
	background-color: rgb(55,55,55);
	color: white;
}

body#player
{
	//background-color: rgb(197,187,167);
	color: rgb(230,36,9);
	background-color: rgb(10,10,10);
}

div#enter
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div#player
{
	min-width: 320px;
}

form#pc-sign-in
{
	width: 40%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

form#editplayer
{
	width: 40%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

div#characterselect
{
	
}

div#characterselect img
{
	width: 100%;
}

table#character-stats-preview
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 10px;
}

table#skills
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 11px;
}

table#attributes
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 11px;
}

th#career
{
	width: 10%;
}

th#skill
{
	width: 60%;
}

th#attribute
{
	width: 25%;
}

th#rank
{
	width: 5%;
}

.btn-increase
{
	color: green;
	border: solid 1px green;
	border-radius: 10px;
	background-color: greenyellow;
	float: right;
}

.select_character
{
	border: solid 1px rgb(179,3,3);
}

p
{
	font-family: 'Source Sans Pro', sans-serif;
}