body#welcome
{
	background-color: black;
	color: white;
}

div#enter
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

form#pc-sign-in
{
	width: 40%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}