body#welcome
{
	background-color: rgb(55,55,55);
	color: white;
}

body#player
{
	//background-color: rgb(197,187,167);
	color: rgb(230,36,9);
	background-color: rgb(10,10,10);
	//background-image: image_url("scroll.png");
}

body#character
{
	background-image: image_url("scroll.PNG");
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: rgb(253, 234, 203);
	font-family: 'Rock Salt', cursive;
	font-size: 12px;
}

div#enter
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div#player
{
	min-width: 320px;
}

form#pc-sign-in
{
	width: 40%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

form#editplayer
{
	width: 40%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

div#characterselected
{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50px;
}

div#characterselect img
{
	width: 100%;
}

table#character-stats-preview
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 10px;
}

table#skills
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 11px;
}

table#attributes
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 11px;
}

th#career
{
	width: 10%;
}

th#skill
{
	width: 60%;
}

th#attribute
{
	width: 25%;
}

th#rank
{
	width: 5%;
}

.btn-increase
{
	color: green;
	border: solid 1px green;
	border-radius: 10px;
	background-color: greenyellow;
	float: right;
}

.btn-remove
{
	border: solid 1px red;
	border-radius: 10px;
	background-color: red;
	font-size: 10px;
	font-weight: bold;
}
.select_character
{
	border: solid 1px rgb(179,3,3);
}

p
{
	font-family: 'Source Sans Pro', sans-serif;
}

ul#character-nav
{
  background-color: tan;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-width: 320px;
  height: 50px;
}

ul#character-nav li
{
	font-family: 'Kalam', cursive;
	font-size: 35px;
  list-style: none;
  float: left;
  width: 25%;
  height: 20px;
  padding: 0px;
  margin: 0px;
}

ul#character-nav li a
{
	text-decoration: none;
	color: black;
}

ul#character-nav li a:hover
{
	text-decoration: none;
	color: blue;
}

img.dice
{
	height: 20px;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

div#character_skills
{
	max-height: 600px;
	overflow-y: scroll;
}

div#character_overview p
{
	font-family: 'Rock Salt', cursive;
	font-size: 12px;
}

.gm-all-pcs
{
	width: 18%;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	margin: 5px;
	background-color: rgb(253, 247, 232);
	padding: 5px;
}