body#welcome
{
	background-color: #FECF89;
	background-image: image_url("tatooine_new.png");
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
}

body#player
{
	//background-color: rgb(197,187,167);
	color: black;
	background-color: #F5F5F5;
	//background-image: image_url("scroll.png");
}

body#character
{
	background-image: image_url("scroll.PNG");
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: rgb(253, 234, 203);
	font-family: 'Rock Salt', cursive;
	font-size: 12px;
}

body#gm
{
	background-color: rgb(8, 7, 7);
	color: #ffc000;
}

img.nav-header
{
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	border: solid 1px silver;
	border-radius: 5px;
}

img.nav-item
{
	width: 100%;
	margin-bottom: 5px;
	border: solid 1px silver;
	border-radius: 10px;
}

img.main-nav
{
  width: 100%;
}

img.pc-nav
{
	width: 100%;
}

div.main-nav-small
{
  margin-top: 10px;
}

div#enter
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

section#gm-content
{
	background-color: rgba(80,80,80,0.5);
}

div#player
{
	min-width: 320px;
}

form#pc-sign-in
{
	width: 40%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

form#editplayer
{
	width: 40%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

div#characterselected
{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50px;
}

div#characterselect img
{
	width: 100%;
}

img.character-avatar
{
	width: 10%;
	min-width: 100px;
	float: left;
	margin: 10px;
}

img#avatar-preview
{
  width: 100%;
  margin: 10px;
}

table#character-stats-preview
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 10px;
}

table.skills
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 11px;
}

table#attributes
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 11px;
}

th#career
{
	width: 10%;
}

th#skill
{
	width: 60%;
}

th#attribute
{
	width: 25%;
}

th#rank
{
	width: 5%;
}

td#skill-rank
{
	width: 5%;
}

td.table-rank
{
	width: 5%;
	border-right: 1px solid black;
}

.btn-increase
{
	color: green;
	border: solid 1px green;
	border-radius: 10px;
	background-color: greenyellow;
	float: right;
}

.btn-remove
{
	border: solid 1px red;
	border-radius: 10px;
	background-color: red;
	//font-size: 10px;
	font-weight: bold;
}

.select_character
{
	border: solid 1px rgb(179,3,3);
}

p
{
	font-family: 'Source Sans Pro', sans-serif;
}

ul#character-nav
{
  background-color: tan;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-width: 320px;
  height: 50px;
}

ul#character-nav li
{
	font-family: 'Kalam', cursive;
	font-size: 35px;
  list-style: none;
  float: left;
  width: 25%;
  height: 20px;
  padding: 0px;
  margin: 0px;
}

ul#character-nav li a
{
	text-decoration: none;
	color: black;
}

ul#character-nav li a:hover
{
	text-decoration: none;
	color: blue;
}

img.dice
{
	height: 20px;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

div#character_skills
{
	max-height: 600px;
	overflow-y: scroll;
}

div#character_overview p
{
	font-family: 'Rock Salt', cursive;
	font-size: 12px;
}

.gm-all-pcs
{
	width: 18%;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	margin: 5px;
	background-color: rgb(253, 247, 232);
	padding: 5px;
}

td.rank input.ng-dirty
{
	-webkit-transition: 1s linear all;
	transition: 1s linear all;
	font-weight: bold;
	background-color: rgb(54, 255, 48);
}

table#pc_attributes
{
	margin-top: 20px;
}

table#pc_attributes input.ng-dirty
{
	-webkit-transition: 1s linear all;
	transition: 1s linear all;
	font-weight: bold;
	background-color: rgb(54, 255, 48);
}

ul#gm_pc_update
{
	width: 100%;
	height: 30px;
	list-style: none;
	
}

ul#gm_pc_update li
{
	float: left;
	padding: 10px;
	text-align: center;
}

.margin-zero
{
  margin: 0px;
}

#game_session
{
	color: gold;
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
}

.session_pcs
{
  border: 1px solid black;
}

.session_avatar
{
  width: 100%;
}

.manage_pcs
{
 -webkit-transition:0.5s linear all;
 transition:0.5s linear all;
 opacity:1;

}

.manage_pcs.ng-hide
{
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

tr.all_pcs.ng-leave
{
	-webkit-transition:0.25s linear all;
	transition:0.25s linear all;
	opacity:1;
}
tr.all_pcs.ng-leave.ng-leave-active
{
	opacity:0;
}

.border-bottom
{
	border-bottom: 1px solid black;
}

.button33
{
	width: 31.3%;
}

#admin_nav
{
	list-style: none;
}