<div id="character_equipment" ng-show="character_stage == 'equipment'">
    <section class="character-section">
    <h2 class="character-heading">Weapons</h2>
    <table class="table table-stripped">
    	<thead>
    		<tr>
    			<td>Name</td>
    			<td>Skill</td>
    			<td>Damage</td>
    			<td>Critical</td>
    			<td>Range</td>
    			<td>Price</td>
    			<td>Special</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="w in character.weapons">
    			<td class="emp-color">{{w.name}}</td>
    			<td>{{w.skill}}</td>
    			<td>{{w.damage}}</td>
    			<td>{{w.critical}}</td>
    			<td>{{w.range}}</td>
    			<td>{{w.price}}</td>
    			<td>{{w.special}}</td>
    		</tr>
    	</tbody>
    </table>
    </section>

    <section class="character-section">
    <h2 class="character-heading">Armor</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Soak</td>
                <td>Defense</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in character.armors">
                <td class="emp-color">{{a.name}}</td>
                <td>{{a.soak}}</td>
                <td>{{a.defense}}</td>
                <td>{{a.price}}</td>
            </tr>
        </tbody>
    </table>
    </section>

    <section class="character-section">
    <h2 class="character-heading">Items</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in character.items">
                <td class="emp-color">{{i.name}}</td>
                <td>{{i.description}}</td>
            </tr>
        </tbody>
    </table>
    <section>
</div>