<div id="charactercreate" ng-show="stage == 'charactercreate'">
    <h4 class="text-center">Create a New Character</h4>
    <a href ng-click="cancelNewCharacter()">Cancel New Character</a>
    
    <form>
        <div class="form-group">
            <label>Character Name</label>
            <input class="form-control" type="text" ng-model="character.name" />
        </div>
        
        <div class="form-group">
            <label>Species</label>
            <select ng-model="character.race" ng-options="race.name for race in races track by race.id"></select>
            
            <select ng-model="character.species" class="form-control">
                <li ng-repeat="race in races">
                    <option value="{{race.name}}">1</option>
                </li>
                <option value="human">Human</option>
                <option value="wookiee">Wookiee</option>
            </select>
        </div>
        
        <div class="form-group">
            <label>Career</label>
            <select class="form-control" ng-model="character.career">
                <option value="smuggler">Smuggler</option>
            </select>
        </div>

        {{character}}
    </form>
</div>