<div id="charactercreate2" ng-show="stage == 'charactercreate-2'">
    <h1 class="text-center">{{character.name}}</h1>
    
    <h2 class="text-center">Select 4 skills to increase rank for free</h2>
    <table id="skills" class="table">
        <thead>
            <tr>
                <th id="skill">Skill</th>
                <th id="attribute">Attribute</th>
                <th id="rank">Rank</th>
                <th>Increase</th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="skill in skills | filter:{career: true}" >
                <td>{{skill.name}}</td>
                <td>{{skill.attrib}}</td>
                <td class="text-right">{{skill.rank}}</td>
                <td ng-if="career_skill_choices > 0"><button class="button btn-increase" ng-click="increaseRankCareerInit($index,skill.id,false)">+</button></td>
            </tr>
        </tbody>
    </table>
    
    <h3 class="text-center">You have {{career_skill_choices}} left</h3>
    
    <h2 class="text-center">Select 2 skills to increase rank for free</h2>
    <table id="career-skills" class="table">
        <thead>
            <tr>
                <th id="skill">Skill</th>
                <th id="attribute">Attribute</th>
                <th>Increase</th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="skill in spec_skills | orderBy:'name'" >
                <td>{{skill.name}}</td>
                <td>{{skill.attrib}}</td>
                <td ng-if="specialization_skill_choices > 0"><button class="button btn-increase" ng-click="increaseRankCareerInit2($index,skill.id,false)">+</button></td>
            </tr>
        </tbody>
    </table>
    
    <h3 class="text-center">You have {{specialization_skill_choices}} left</h3>
    
    <button class="btn" ng-show="career_skill_choices == 0 && specialization_skill_choices == 0" ng-click="characterStage3()">Continue</button>
</div>