<div id="characterselected" ng-show="stage == 'characterselected'">
    <div>
    	<ul id="character-nav">
    		<li class="text-center"><a href ng-click="set_char_stage('overview')">Overview</a></li>
    		<li class="text-center"><a href ng-click="set_char_stage('skills')">Skills</a></li>
    		<li class="text-center"><a href ng-click="set_char_stage('equipment')">Gear</a></li>
    		<li class="text-center">Options</li>
    	</ul>
    </div>
    
    <character-overview></character-overview>
    
    <character-skills></character-skills>
    
    <character-equipment></character-equipment>
</div>