<div id="characterselected" ng-show="stage == 'characterselected'">
    <img ng-src="images/imperial_logo.jpg" ng-click="toggle_char_menu()" class="nav-icon">
    <div>
    	<ul id="character-nav" class="{{char_nav_class}}">
    		<li>
                <a href ng-click="set_char_stage('overview')">
                <img class="pc-nav" ng-src="/images/pc/pc_overview.png">      
                </a>
            </li>
    		<li>
                <a href ng-click="set_char_stage('skills')">
                <img class="pc-nav" ng-src="/images/pc/pc_skills.png">
                </a>
            </li>
    		<li>
                <a href ng-click="set_char_stage('equipment')">
                <img class="pc-nav" ng-src="/images/pc/pc_gear.png">
                </a>
            </li>
    		<li>
                <a href ng-click="set_char_stage('combat')">
                <img class="pc-nav" ng-src="/images/pc/pc_combat.png">
                </a>
            </li>
    	</ul>
    </div>
    
    <character-overview></character-overview>
    
    <character-skills></character-skills>
    
    <character-equipment></character-equipment>
    
    <character-combat></character-combat>
</div>